@model MVC.ENTITIES.Department;
<p style="color: red; font-weight: bold;">Update a deparment by filling out the form below</p>
<form method="Post">
    <div class="col-md-6" style = "margin-top:40px; font-size: larger; font -weight: bold;colour: darkcyan">
        <label asp-for="Name" class= "form-label">Name</label>
        <input asp-for = "Name" type="text" class="form-control">
    </div>

    <button type="submit">Update</button>
</form>