@model Transaction.RequestModel.SalesRepRequestModel;


<p style="color: red; font-weight: bold;">Add a salesRep by filling out the form below</p>
<form method="Post">
    <div class="col-md-6" style = "margin-top:40px; font-size: larger; font -weight: bold;colour: darkcyan">
        <label asp-for="FirstName" class= "form-label">FirstName</label>
        <input asp-for = "FirstName" type="text" class="form-control">
        <label asp-for="LastName" class= "form-label">LastName</label>
        <input asp-for = "LastName" type="text" class="form-control">
        <label asp-for="Email" class= "form-label">Email</label>
        <input asp-for = "Email" type="text" class="form-control">
        <label asp-for="Password" class= "form-label">Password</label>
        <input asp-for = "Password" type="text" class="form-control">
        
    </div>

    <button type="submit">Create</button>
</form>