@model Transaction.RequestModel.GetNoOfProductToBeAdded
<form method="Post">
        <label asp-for="NumberToBeAdded" class= "form-label">Please enter the number of product you bought</label>
        <input asp-for = "NumberToBeAdded" type="text" class="form-control">
    </div>
    <button type="submit">Next</button>
</form>